main {
    display: flex;
    padding: 25px 0;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: white;
    padding: 25px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    width: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.container h2 {
    margin-top: 0;
    margin-bottom: 30px;
    font: bold 30px Arial;
    color: #000000;
    text-align: center;
}

.container p {
    color: #555555;
    font: lighter medium Arial;
}
