form > h3 {
    padding: 0;
    margin: 0 0 20px 0;
    font: bold large Arial;
    text-align: center;
}

.tasks > h3 {
    padding: 0;
    margin: 0;
    font: bold large Arial;
    text-align: center;
    color: #555555;
}

ul > p {
    padding: 0;
    margin: 0;
    text-align: center;
    color: #555555;
    font: lighter medium Arial;
}

.task {
    padding: 0px;
    border-radius: 0px;
    box-shadow: none;
    border: none;
}

.inner-container {
    background-color: white;
    padding: 25px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    width: 100%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    padding: 0;
    margin: 20px 0 0 0;
    font: bold medium Arial;
    text-align: center;
    color: #555555;
}

.tasks {
    margin: 0;
    padding: 0 25px 0 25px;
    height: 30vh;
}

.task > button {
    width: 48%;
    margin: 10px 1% 0px 1%;
}

.task > p {
    margin: 2px 0 20px 0;
    padding: 0;
    text-align: center;
}

.task > h4 {
    margin: 0 0 2px 0;
    padding: 0;
    text-align: center;
    font: bold medium Arial;
}
