header {
    padding: 0 25px;
}

header > h1 {
    display: inline-block;
    font: bold 32px Futura;
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    color: #4294d5;
}

header > h1 > img {
    width: 30px;
    height: 30px;
}
